<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskHotelProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskHotelProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TaskHotelProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TaskHotelProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script>
         function format(d) {
             debugger;
             var result = '<table id="childtable" cellpadding="5" cellspacing="0" border="0" style="padding-left: 50px; width:80% ">' +
                 '<tr><td><b>Room</b> </td><td><b>Name</b></td><td><b>Occupancy</b></td><td><b>Status</b></td></tr>';
             //loop thouth the OderListDetails and add the child items.
             for (var i = 0; i < d.rooms.room.length; i++) {
                 var child = '<tr><td>' + d.rooms.room[i].roomid + '</td>' +
                     '<td>' + d.rooms.room[i].roomname + '</td>' +
                     '<td>' + d.rooms.room[i].occupancy + '</td>' +
                     '<td>' + d.rooms.room[i].roomstatus + '</td>';
                 result += child;
             }
             result += '</table>';
             return result;
         }
         $(document).ready(function () { 
             debugger;
             //call the action method and get the data.
             $.ajax({
                 url: "/Home/GetRefreshedHotelsData",
                 type: "Get", 
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (data) {
                     debugger;
                     console.log("success" + data);
                     //after getting the data, bind the DataTable.
                     var table = $("#example").DataTable({
                         "data": data,
                         "columns": [
                             {
                                 "className": 'details-control',
                                 "orderable": false,
                                 "data": null,
                                 "defaultContent": ''
                             },
                             { "data": "hotelid" },
                             { "data": "hotelname" },
                             { "data": "location" },
                             { "data": "rating" },
                             { "data": "available" },
                             { "data": "startingprice" },
                             { "data": "currency" },
                         ],
                         "order": [[0, 'desc']]
                     });

                     //Expand/Collapse the nested objects.
                     $('#example tbody').on('click', 'td.details-control', function () {
                         debugger;
                         var tr = $(this).closest('tr');
                         var row = table.row(tr);

                         if (row.child.isShown()) {
                             // This row is already open - close it
                             row.child.hide();
                             tr.removeClass('shown');
                         }
                         else {
                             // Open this row
                             row.child(format(row.data())).show();
                             tr.addClass('shown');
                         }
                     });
                 },
                 error: function (ex) {
                     console.log(ex);
                 }
             }); 
         });
     </script>
     
     <script>
         $('#Refundable').on('change', function (){
             debugger;
             var refundval = Refundable.value;
             window.location.href = "@Url.Action("Index")?refundable_id="+refundval;
        });
     </script>

     <script>
         $('#Rating').on('change', function (){
         debugger;
         var rat = Rating.value;
         var r = rat.substring(0, 1);
         var rating = parseInt(r);
         window.location.href = "@Url.Action("Index")?rating_id="+rating;

         });
     </script>
     <script>
         $('#cb_available').on('change', function (){
         debugger;
         var ischck = $('#cb_available').is(':checked');
         window.location.href = "@Url.Action("Index")?available="+ischck;

         });
     </script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
